@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #4d1269;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.icon{
  display: none;
}

#container {
  padding: 10px 10%;
  background-color: #7f18afd9;
  position: fixed;
  top: 0;
  width: 80%;
  margin-bottom: 50px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

nav ul li a:hover {
  /* background: #ddd;
  color: black;
  border-radius: 2px;
  padding: 4px */
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

nav ul li a::after {
  content: "";
  width: 100%;
  height: 3px;

  position: absolute;
  left: 0;
  bottom: -6px;

}
#mobile{
  display:none
}
#resume-button-2 {
  background-color:  #7f18afd9;;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:100px
}

#resume-button-2:hover {
  background-color:  #7f18afd9;
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

#resume-button-2:active {
  background-color:  #7f18afd9;
}

#resume-button-2:focus {
  outline: none;
}
a{
  color: #fff;
}
/* nav complete here */



#home {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-left: 20%;
  margin-right: 10%
}

#resume {
  background-color: #112A46;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer
}

.home-img {
  width: 500px;
  height: 500px;
  opacity: 0.7
}

#user-detail-name {
  font-size: 60px;
  text-align: left;
}

#user-detail-intro1{
  font-size: 30px;
  height: 80px;

}


/* home-css ends here */



#about1{
  padding: 80px 0;
  color: #112A46;
  margin: auto;
  width: 80%;

}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.about-section {
  flex-basis: 60%;
}
p{
  color:white;
}
h1{
  text-align: center;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #112A46;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}



.tab-links.active-link::after {
  width: 50%
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;


}

.tab-contents ul li span {
  color: white;
  font-size: 14px;
}

.tab-contents {
  display: block;
  color: white;
}

.tab-contents.active-tab {
  display: block;
}

/* about end here */


#skills {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.skills-card {
  border-radius: 10px;
  text-align: center;
  background: #7f18afd9;
  padding: 30px 0;
  
}

.skills-card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skills-card-name {
  margin-top: 30px;
  font-size: 20px;
}

.sub-skills {
  margin-top: 20px;
  color:white;
}

/* skill-css ends here */

#projects {
  background-color:  #7f18afd9;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 10px 10px;
  width: 80%;
  margin: auto;
}

#project {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}

#project-card img {
  border-radius: 60%;
  width: 60%
}

/* 
.project-card {
  width: 80%;
  background-color: #6a0799;
  border-radius: 10px;
  padding: 5px
} */

.project-card img {
  width: 100%;
  border-radius: 10px
}

.project-card {
width:80%;
border-radius: 10px;
  padding: 5px;
  margin: 20px;
  background: #4d1269;
  transition: .5s;
  transform: scale(1.1);
}

.project-card p {
  font-size: small
}

.project-card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

/* .project-card img:hover{
  background: #030303;
  transition: .5s;
  transform: scale(1.1);
} */
.project-description {
  font-size: 50px;
}

/* project complete here */
#github-calendar {
  margin: 20px;
  background-color:#7f18afd9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

#github-calendar img {
  width: 60%;
  height: 80%;
  border-radius: 4px;
  padding: 20px
}

#github-stats {
  margin: 20px;
  margin-right: 20px;
  background-color: #4d1269;
  border-radius: 20px;
  /* margin:30px; */
  padding: 10px;
  color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 25px;
}



#github-rest {
  width: 100%;
  margin-top: 40px;
  background-color:#4d1269;
  width: 80%;
  margin: auto;
  text-align: center;

}

#github-rest div {
  padding: right 550px;
  margin-top:40px;
}

#github-rest img {
  padding: 30px;
  border-radius: 10px;

}



#github-rest {
  border-radius: 10px;
}


.git {
  margin: auto;
  color: #FFF;
  font-size: 20px;
}

.git img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

#github-calendar img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}

/* git part complete here */
#contact {
  width: 60%;
  margin: auto;
  margin-top: 60px;
  background-color: #7f18afd9;
  border-radius: 20px;
  padding: 15px;
  color: #FFF
}


#contact div p a {
  text-decoration: none;
  color: #fff;
}



.sub-title {
  font-size: 30px;
  color: #FFF
}

#inside-contact {
  display: flex
}

#contact-left {
  flex-basis: 35%
}

#contact-right {
  flex-basis: 60%
}

#contact-left p {
  margin-top: 20px;

}

#contact-right form {
  width: 100%
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px;
  color: #080808;
  font-size: 18px;
  border-radius: 6px;
}

form .btn {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  border: none;

}
form .btn:hover{
  transform: scale(1.2);
  box-shadow: 0 0 10px 3px white;
}
.btn{
  background-color:  white;
 
}




/* contact-css ends here */
/* @media only screen and (max-width: 600px) {
  #container {
    padding: 10px 5%;
    width: 100%;
  }

  nav ul li {
    margin: 10px 5px;
  }
  #home {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #user-detail-name {
    font-size: 30px;
    text-align: center;
  }

  #user-detail-intro {
    font-size: 16px;
  }
  #about {
    width: 100%;
  }

  .sub-title {
    font-size: 30px;
  }

  .tab-links {
    margin-right: 20px;
    font-size: 14px;
  }
  .row {
    display: flex;
    flex-direction: row;
  }

} */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
 #menu{
  display:none;

 }
 nav .fa-solid{
  display:block;
  font-size:25px;
  padding:20px
}


nav ul{
  background:#A491D3;
  position:fixed;
  top:0;
  right:-200px;
  width:150px;
  height:100vh;
  padding-top: 50px;
  z-index:2
}
nav ul li{
  display:block;
  margin:25px
}
nav ul .fa-solid{
  position:absolute;
  top:25px;
  left:25px;
  cursor:pointer
}
#home {
  display: flex;
  flex-direction:column;

}
#gif{
  margin-top: 50px;
}
/* .about section{
  display: flex;
  flex-direction: column;
} */



}